<div>
    <di id= "deleter">
    
        <form action="/delete" method="post">
        <input type="text" name="delcode" id="delfeild">
        <input type="submit" value="Delete">
        </form>
    
    </div>

    <hr>

    <div id="adder" >
        <form action="/add" method="post" enctype="multipart/form-data">
        <label for="ch_code">Character code</label>
        <input type="text" name="ch_code" id="chcode">

        <label for="ch_name">Name</label>
        <input type="text" name="ch_name" id="chcode">

        <label for="ch_age">Age</label>
        <input type="text" name="ch_age" id="chcode">

        <label for="ch_gender">Gender</label>
        <input type="text" name="ch_gender" id="chcode">

        <label for="ch_weight">Weight</label>
        <input type="text" name="ch_weight" id="chcode">
        
        <label for="ch_height">Height</label>
        <input type="text" name="ch_height" id="chcode">


        <input type="file" name="ch_profile" id="ch_prof">
        <input type="file" name="ch_stats" id="ch_stats">

        <input type="submit" value="Add">

        </form>
    </div>

</div>



<div>

    <h1>test image upload</h1>
    <form action="/upload" method="post" enctype="multipart/form-data" >
        <input type="file" name="tup" id="tup">
        <input type="submit" value="tup">
    </form>
</div>