<div id= "glssblock">
<center>
<span id="mutop"><span style="color:#FF70B4"> MY</span> UTOPIA</span>
<hr>


<table>
    <tr>
        <td><a id='links' href="/charlist"><span id="linkt">Meet the residents</span> </a> </td>
        <td><img id="arrw" src="../images/flwr.svg" alt="arr"></td>
    </tr>
</table>
<table>
    <tr>
        <td><a id='links' href="/comm"><span id='linkt'>Commision me</span> </a> </td>
        <td><img id="arrw" src="../images/flwr.svg" alt="arr"></td>
    </tr>
</table>

<div id = 'contact'>
    <h3>contact me</h3><br>
    <img id ='insta' src="../images/insta.png" alt="insta link">
</div>




{{!-- <div>
    <a id='links' href="/charlist">
<span id="linkt">Meet the residents</span> 
</a>
<img id="arrw" src="../images/flwr.svg" alt="arr">

</div>

<div >
<a id='links' href="/comm">

<span id='linkt'>
 Commision me
 </span>

<img id="arrw" src="../images/flwr.svg" alt="arr">
</a>
</div>
 --}}</center>
</div>