body{
   
    margin:0;

    padding: 0;
    
    height:100%;
    background-image: url(../images/backg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover/* 1920px 1080px */ ;
    background-attachment: fixed;
    color: white;
    font-family: 'Raleway', sans-serif;
    
}

// index styling
#glssblock
{
    padding-top: 3vw;
    padding-left: 2vw;
    padding-right: 2vw;
    position: relative;
    left: 15vw;
    width:70vw;
    height: 95vh;
    margin-top: 5vh;
    background: rgba(56, 70, 107, 0.58);
backdrop-filter: blur(16px);
/* Note: backdrop-filter has minimal browser support */
    

border-radius: 8px;
}
hr{
    width: 65%;
    margin-bottom: 13vh;
}

#mutop
{

font-size: 5vw;
line-height: 85px;
letter-spacing: 0.27em;
}

@media( max-width:736px)
{
    #mutop{
    font-size: 4vh;
    }
}

a{
    
    color:white;
    text-decoration: none;
    font-size: 2vw;    
    letter-spacing: 0.15em; ;
    
    
}

a:hover{
    color: white;
    text-decoration: none;
}
a:visited
{
    color:white;
    text-decoration: none;
}


#links
{
    
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-weight: 400;
}

#linkt
{
    font-size: 3vw;
    align-self: center;
}
@media(max-width:736px)
{
    #linkt{
        font-size: 3vh;
    }
}

#arrw
{
    display: inline;
}

#indelem
{
    display: inline-block;
}

#arrw
{
    margin-left: 4vw;
    height: 3vw;
    width: 3vw;

}


table
{
    tr{
        border-collapse:separate; 
        border-spacing:0 15px;
    }
    margin: 6vh 0vh 6vh 0vh;
    
}

#contact{
    margin-top:20vh ;
}
#contx
{
    font-size: 3vw;
}
@media(max-width:736px)
{
    #contx
    {
        font-size: 3vh;
    }
}

#insta{
    margin: 15px;
    width: 50px;
    height:50px;

}

#header{
    font-size: 20%;
    background-color: rgba(70, 53, 91, 0.50);
    height:10vh;
    width: 100%;
}

#headtxt
{
    font-size: 7vh;
    margin-left: 2vw;
    
}

#charlist
{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(240px, auto));
    
    margin:0 15vw 0 15vw;
        
}


#char-sm-card
{
    
    background-color:rgba(70, 53, 91, 0.50);
    width: 230px;
    height:230px;
    margin-left: 3vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-right: 3vw;

}
#profileimg{
    margin: 20px;
    width: 120px;
    height:120px;
    object-fit: cover;
    border-radius: 60px;
}

#buttonlink
{
    background: none;
    border: none;
    font-size: 20px;
    

}
#buttonlink:focus
{
    outline: none;
    border: none;
}
#buttonlink:active
{
    outline:none;
    border: none;
}

